@using System.IO
@model ImageBrowser.Models.FolderModel
@{
    string folderDisplayName = Model.CurrentFolder.Replace(Path.DirectorySeparatorChar + "", " > ").Or("Root folder");
    
    ViewBag.Title = folderDisplayName;
}

<h2>@folderDisplayName</h2>

<div class="thumbnails">
    @foreach (var folder in Model.Folders)
    {
        <a class="thumb" style="width: @(Application.ThumbnailSize)px" href="@Url.Action("Index", new { path = folder.RelativeName })" data-toggle="tooltip" data-placement="bottom" title="Folder: @folder.ShortName">
            <img src="@Url.Action("FolderThumbnail", new {path = folder.RelativeName})" width="@Application.ThumbnailSize" height="@Application.ThumbnailSize" />
        </a>
    }

    @foreach (var file in Model.Files)
    {
        <a class="thumb" style="width: @(Application.ThumbnailSize)px" href="@Url.Action("Image", new {path = file.RelativeName})" data-toggle="tooltip" data-placement="bottom" title="@file.ShortName">
            <img src="@Url.Action("Thumbnail", new {path = file.RelativeName})" width="@Application.ThumbnailSize" height="@Application.ThumbnailSize" />
        </a>
    }
</div>