@model ImageBrowser.Models.FolderModel
@{
    ViewBag.Title = Model.DisplayName;
}

@section styles {
    <style type="text/css">
        .thumb > img {
            width: @(Application.ThumbnailSize)px;
            height: @(Application.ThumbnailSize)px;
        }
    </style>
}

<h2>@Model.DisplayName</h2>
<h4>(@Model.Description)</h4>

<div>
    @foreach (var folder in Model.Folders)
    {
        <a class="thumb" href="@Url.Action("Index", new { path = folder.RelativeName })" data-toggle="tooltip" data-placement="bottom" title="Folder: @folder.ShortName">
            <img src="@Url.Action("FolderThumbnail", new {path = folder.RelativeName})" width="@Application.ThumbnailSize" height="@Application.ThumbnailSize" />
            <div class="caption">@folder.ShortName</div>
        </a>
    }

    @foreach (var file in Model.Files)
    {
        <a class="thumb" href="@Url.Action("Image", new {path = file.RelativeName})" data-toggle="tooltip" data-placement="bottom" title="@file.ShortName">
            <img src="@Url.Action("Thumbnail", new {path = file.RelativeName})" width="@Application.ThumbnailSize" height="@Application.ThumbnailSize" />
            <div class="caption">@file.ShortNameWithoutExtension</div>
        </a>
    }
</div>