@model ImageBrowser.Models.FolderModel
@{
    ViewBag.Title = Model.DisplayName;
    int size = Settings.Singleton.ThumbnailSize;
}

@section styles {
    <style type="text/css">
        .thumb, .thumb > .image {
            width: @(size)px;
            height: @(size)px;
        }

        .thumb > .placeholder {
            margin-left: calc(@(size)px/2 - 15px);
            margin-top: calc(@(size)px/2 - 15px);
        }
    </style>
}

@section scripts {
    <script type="text/javascript">
        $(function() {
            $('.thumb > .image').load(function () {
                $(this).siblings('.placeholder').remove();
                $(this).fadeIn();
            });
        });
    </script>
}

<h2>@Model.DisplayName</h2>
<h4>(@Model.Description)</h4>

<div>
    @foreach (var folder in Model.Folders)
    {
        <a class="thumb" href="@Url.Action("Index", new { path = folder.RelativeName })" data-toggle="tooltip" data-placement="bottom" title="Folder: @folder.ShortName">
            <img class="image"  src="@Url.Action("FolderThumbnail", new {path = folder.RelativeName})" width="@size" height="@size" />
            <img class="placeholder" src="~/Content/loading.gif" alt="Loading..." />
            <div class="caption">@folder.ShortName</div>
        </a>
    }

    @foreach (var file in Model.Files)
    {
        <a class="thumb" href="@Url.Action("Image", new {path = file.RelativeName})" data-toggle="tooltip" data-placement="bottom" title="@file.ShortName">
            <img class="image" src="@Url.Action("Thumbnail", new {path = file.RelativeName})" width="@size" height="@size" />
            <img class="placeholder" src="~/Content/loading.gif" alt="Loading..."/>
            <div class="caption">@file.ShortNameWithoutExtension</div>
        </a>
    }
</div>