@using System
@using System.Globalization
@using ExifLib
@model ImageBrowser.Models.ImageModel
@{
    ViewBag.Title = "View image";
}

@section scripts {
    <script type="text/javascript">

        $(function() {
            function arrangeFaces() {
                var w = $('#main-image').width();
                var h = $('#main-image').height();

                $('.face').each(function() {
                    $(this).css({
                        left: (w * $(this).data('left')) + 'px',
                        top: (h * $(this).data('top')) + 'px',
                        width: (w * $(this).data('width')) + 'px',
                        height: (h * $(this).data('height')) + 'px'
                    });

                    $(this).show();
                });
            }

            var showFaces = false;

            if (typeof (Storage) !== 'undefined') {
                showFaces = localStorage.getItem('showFaces') == 1;
            }

            if (showFaces) {
                var loaded = false;

                $(window).resize(function() {
                    if (loaded) {
                        arrangeFaces();
                    }
                });

                $('#main-image').load(function() {
                    arrangeFaces();
                    loaded = true;
                });
            }
        });

    </script>
}

<h2>Image: @Model.Item.RelativeName</h2>

<div style="position: relative">
    <a href="@Url.Action("Raw", new {path = Model.Item.RelativeName})" target="_blank">
        <img id="main-image" src="@Url.Action("Raw", new {path = Model.Item.RelativeName})" style="width: 100%; height: auto" />
    </a>
    
    @foreach (var face in Model.Faces)
    {
        <div class="face"
             data-left="@face.Item1.Left.ToString(CultureInfo.InvariantCulture)"
             data-top="@face.Item1.Top.ToString(CultureInfo.InvariantCulture)"
             data-width="@face.Item1.Width.ToString(CultureInfo.InvariantCulture)"
             data-height="@face.Item1.Height.ToString(CultureInfo.InvariantCulture)">
            <span>@face.Item2</span>
        </div>
    }
</div>

<div>
    <table class="table table-striped">
        <tr>
            <td>Aufnahmedatum</td>
            <td>@Model.GetExifData(ExifTags.DateTimeOriginal)</td>
        </tr>
        <tr>
            <td>Schlüsselwörter</td>
            <td>@string.Join(", ", Model.Keywords)</td>
        </tr>
        <tr>
            <td>Auflösung (Pixel)</td>
            <td>@Model.Width &times; @Model.Height (@((Model.Width * Model.Height / 1000000.0).ToString("N1")) MP)</td>
        </tr>
        <tr>
            <td>Kamerahersteller</td>
            <td>@Model.GetExifData(ExifTags.Make).Or("-")</td>
        </tr>
        <tr>
            <td>Kameramodell</td>
            <td>@Model.GetExifData(ExifTags.Model).Or("-")</td>
        </tr>
        <tr>
            <td>Belichtungszeit</td>
            <td>@Model.GetExifData(ExifTags.ExposureTime).Or("-")</td>
        </tr>
        <tr>
            <td>ISO-Wert</td>
            <td>@Model.GetExifData(ExifTags.ISOSpeedRatings).Or("-")</td>
        </tr>
        <tr>
            <td>Blende</td>
            <td>@Model.GetExifData(ExifTags.FNumber).Or("-")</td>
        </tr>
    </table>
</div>